@media all and (min-width:100px) and (max-width:768px){
   .hide{
    display: none;
    
   }

   .input-gro{
    background-image: url(../img/index.jpg);
    background-position: 100% 100%;
    background-size: cover;
   }
* ,.form-value h2{
   color: rgb(0, 0, 0) !important;
}

}




